<script>
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    var x = getCookie('accept');
    if (getCookie('accept')) {
        window.location.replace("https://localhost:44301/Groups/OpenGroup?name=" + x + "&x=true")
        eraseCookie('accept');
    }  
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biz_collab</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-free-5.15.3-web/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="~/notification/ikr.notification.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/fonts/fontawesome-free-5.15.3-web/js/solid.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div class="@(Context.Request.Path == "/Identity/Account/Login" || Context.Request.Path == "/Identity/Account/Register" ? "": "background-img")">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biz_collab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link modal-link" asp-area="" asp-controller="Home" asp-action="About">Про суть проекта</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>

        <div class="content">
            @RenderBody()
        </div>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

        <footer class="footer text-muted">
            <div align="right" style="margin-right: 100px">
                &copy; 2020 - Biz_collab
            </div>
        </footer>
    </div>
    <ul class="body_slides">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    @RenderSection("Scripts", required: false)
</body>
</html>