@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<script src="~/notification/ikr.notificationPlugin.js?v=1.1"  charset="windows-1251"></script>

@if (SignInManager.IsSignedIn(User))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#noti_Container").ikrNotificationSetup();
            $.get(
                "/Notifications/GetNotifications",
                onAjaxSuccess
            );

            function onAjaxSuccess(data) {
                var notifications = data;
                $("#noti_Container").ikrNotificationCount({
                    NotificationList: notifications,
                    ListTitlePropName: "NotiHeader",
                    ListBodyPropName: "NotiBody",
                    ControllerName: "Notifications",
                    ActionName: "AllNotifications"
                });
            }
        });
    </script>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div id="noti_Container"></div>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Пополнить баланс", "AddBalance", "Home", new { }, new { @class = "modal-link nav-link" })
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Профиль">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Выйти</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
    </ul>
}

