<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/notification/ikr.notificationPlugin.js" charset="windows-1251"></script>
<table id="tblNotification" class="table table-bordered table-striped" charset="windows-1251">
    <thread>
        <tr>
            <th>Заголовок</th>
            <th>Содержание</th>
            <th>Прочитано?</th>
            <th>Дата создания</th>
        </tr>
    </thread>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" charset="windows-1251">    
        $.get(
            "/Notifications/GetNotifications",
            onAjaxSuccess
        );    
    
        function onAjaxSuccess(data) {
            
            var notifications = data;
            $.map(notifications, function (notification) {
                $("#tblNotification ").append("<tr>"
                    + "<td>" + notification.notiHeader + "</td>"
                    + "<td>" + notification.notiBody + "</td>"
                    + "<td>" + notification.isRead + "</td>"
                    + "<td>" + new Date(notification.createdDate).toLocaleString('en-GB', { timeZone: 'UTC' }) + "</td>"
                    + "</tr>");
            });
        }
</script>

