<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/notification/ikr.notificationPlugin.js"></script>
<table id="tblNotification" class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>From</th>
            <th>Title</th>
            <th>Detail</th>
            <th>isRead</th>
            <th>Notification DateTime</th>
        </tr>
    </thread>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    $.get(
        "/Notifications/GetNotifications",
        onAjaxSuccess
    );

    function onAjaxSuccess(data) {
        console.log(data);
        var notifications = data;
        $.map(notifications, function (notification) {
            $("#tblNotification tbody").append("<tr>"
                + "<td>" + notification.fromUserId + "</td>"
                + "<td>" + notification.notiHeader + "</td>"
                + "<td>" + notification.notiBody + "</td>"
                + "<td>" + notification.isReadSt + "</td>"
                + "<td>" + notification.createdDateSt + "</td>"
                + "</tr>");
        });
    }
</script>

