
@{
    ViewData["Title"] = "BannedInGroup";
}

<h1>Вы были заблокированы в группе с названием:@ViewBag.groupName</h1>
<div>
    <a asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>