<div class="modal-content mdl">
    <div class="modal-header">
        <h4>О чом это мы?</h4>
        <button class="close" data-dismiss="modal" area-hidden="true"><i class="fas fa-times-circle"></i></button>
    </div>
    <div class="modal-body">
        <p>
            Веб-приложение Бизнес-сотрудничество
        </p>
        <p>
            Группа:Солобуто Алексей, Савеля Антонина, Шаталов Максим
        </p>
        <p>
            Групповое иерархическое управление условными единицами,а также планирование и выполнение транзакций.
        </p>
        <p>
            Отслеживает историю суммы и ее изменение (документация).
        </p>
        <p>
            В данном проекте реализована многофункциональная работа с группами-участниками,ролями,бюджетом-транзакции(сообщения) и система голосования.
        </p>
        <p>
            Технологии:
        </p>
        <p>
            Сервер - ASP.NET CORE с интерфейсом взаимодействия OpenAPI.
        </p>
        <p>
            Клиент - html, css, js
        </p>
    </div>
</div>