<div class="modal-content mdl">
    <div class="modal-header">
        <h4>Краткое описание</h4>
        <button class="close" data-dismiss="modal" area-hidden="true"><i class="fas fa-times-circle"></i></button>
    </div>
    <div class="modal-body">
        <p>
            Веб-приложение Бизнес-сотрудничество
        </p>
        <p>
            Группа:Солобуто Алексей, Пашинцев Дмитрий, Подоляк Виталий, Коптина Анастасия
        </p>
        <p>
            Групповое иерархическое управление условными единицами,а также планирование и выполнение транзакций.
        </p>
        <p>
            Отслеживает историю суммы и ее изменение (документация).
        </p>
        <p>
            В данном проекте реализована многофункциональная работа с группами-участниками,ролями,бюджетом-транзакции и система голосования.+встроенный чат и система уведомлений
        </p>
        <p>
            Технологии:
        </p>
        <p>
            Сервер - ASP.NET CORE с интерфейсом взаимодействия OpenAPI.
        </p>
        <p>
            Клиент - html, css, javascript
        </p>
    </div>
</div>