@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>About</h3>
<hr />
<p>
    Веб-приложение Бизнес-сотрудничество 
</p>
<p>
    Группа:Солобуто Алексей, Савеля Антонина, Шаталов Максим
</p>
<p>
    Групповое иерархическое управление условными единицами,а также планирование и выполнение транзакций.
    Отслеживает историю суммы и ее изменение (документация)
</p>
<p>
    Технологии:
</p>
<p>
    Сервер - ASP.NET CORE с интерфейсом взаимодействия OpenAPI.
</p>
<p>
    Клиент - html, css, js
</p>
<br />
<p>
   Код <a href="https://github.com/Master-r-dev/biz_collab">Бизнес-сотрудничество</a>.
</p>
