@{
    ViewData["Title"] = "Пополнить мой баланс";
    ViewBag.Amount = Convert.ToInt32(ViewBag.PersBudget);
}


<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-xs-4">
        <form asp-action="AddBalance">
            <div class="form-group">
                <dl class="row">
                    Мой баланс: @ViewBag.PersBudget
                </dl>
                <div class="form-group" method="post">
                    <input type="number" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 && Math.abs(this.value) < 2147483647 - @ViewBag.Amount ? Math.abs(this.value) : null " name="PersBudge" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Пополнить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться на главную</a>
</div>


