@page
@model LoginModel

@{ ViewData["Title"] = "Вход"; }

<div class="wrap-login100" style="margin: 10% auto; width: 26%">
    <div>
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login100-form validate-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group wrap-input100 validate-input" style="margin-bottom: 20px;" data-validate="Email is reauired">
                    <label asp-for="Input.Email" class="label-input100"></label>
                    <input asp-for="Input.Email" class="form-control input100" placeholder="Введите Email" />
                    <span asp-validation-for="Input.Email" class="text-danger focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="form-group wrap-input100 validate-input" data-validate="Password is required">
                    <label asp-for="Input.Password" class="label-input100"></label>
                    <input asp-for="Input.Password" class="form-control input100" placeholder="Введите пароль" />
                    <span asp-validation-for="Input.Password" class="text-danger focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="label-input100">
                            <input asp-for="Input.RememberMe" />
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group container-login100-form-btn" style="padding-left: 100px; padding-right: 100px;">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="btn btn-primary login100-form-btn">Войти</button>
                    </div>
                </div>
                <div class="form-group text-right" style="padding-top: 10px; padding-bottom: 10px;">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="label-input100">Забыли пароль?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
