/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
	margin: auto;
}

.background-img {
	height: 100%;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/background/Background_5.png);
}

.body_slides {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: -2;
	background: #202020;
	filter: blur(3px);
}

.body_slides, .body_slides:after {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.body_slides li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: none;
	opacity: 0;
	-webkit-animation: anim_slides 24s linear infinite 0s;
	-moz-animation: anim_slides 24s linear infinite 0s;
	-o-animation: anim_slides 24s linear infinite 0s;
	-ms-animation: anim_slides 24s linear infinite 0s;
	animation: anim_slides 24s linear infinite 0s;
}

.body_slides li:nth-child(1) {
	background-image: url(../images/background/Background_1.jpg)
}

.body_slides li:nth-child(2) {
	-webkit-animation-delay: 6.0s;
	-moz-animation-delay: 6.0s;
	background-image: url(../images/background/Background_2.jpg)
}

.body_slides li:nth-child(3) {
	-webkit-animation-delay: 12.0s;
	-moz-animation-delay: 12.0s;
	background-image: url(../images/background/Background_3.jpg)
}

.body_slides li:nth-child(4) {
	-webkit-animation-delay: 18.0s;
	-moz-animation-delay: 18.0s;
	background-image: url(../images/background/Background_4.jpg)
}

@-webkit-keyframes anim_slides {
	0% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes anim_slides {
	0% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	line-height: 1.7;
	/*color: #666666;*/
	color: #adadad;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

	a:focus {
		outline: none !important;
	}

	a:hover {
		text-decoration: none;
		color: #6496E1;
	}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	/*color: #666666;*/
	color: #adadad;
	margin: 0;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

	textarea:focus, input:focus {
		border-color: transparent !important;
	}

		input:focus::-webkit-input-placeholder {
			color: transparent;
		}

		input:focus:-moz-placeholder {
			color: transparent;
		}

		input:focus::-moz-placeholder {
			color: transparent;
		}

		input:focus:-ms-input-placeholder {
			color: transparent;
		}

		textarea:focus::-webkit-input-placeholder {
			color: transparent;
		}

		textarea:focus:-moz-placeholder {
			color: transparent;
		}

		textarea:focus::-moz-placeholder {
			color: transparent;
		}

		textarea:focus:-ms-input-placeholder {
			color: transparent;
		}

input::-webkit-input-placeholder {
	color: #adadad;
}

input:-moz-placeholder {
	color: #adadad;
}

input::-moz-placeholder {
	color: #adadad;
}

input:-ms-input-placeholder {
	color: #adadad;
}

textarea::-webkit-input-placeholder {
	color: #adadad;
}

textarea:-moz-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-input-placeholder {
	color: #adadad;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

	button:hover {
		cursor: pointer;
	}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.5;
	/*color: #666666;*/
	color: #adadad;
}

.txt2 {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.5;
	/*color: #333333;*/
	color: #adadad;
	text-transform: uppercase;
}

.bg1 {
	background-color: #3b5998
}

.bg2 {
	background-color: #1da1f2
}

.bg3 {
	background-color: #ea4335
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.container-login100 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	animation: backgrounds 40s ease-in-out infinite;
	position: fixed;
	z-index: -2;
}

	.container-login100::before {
		content: "";
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		animation: backgrounds 40s ease-in-out infinite;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -2;
		filter: blur(3px);
	}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	z-index: 0;
}

.b-r-10 {
	border-radius: 10px;
}

.bg-w {
	background: #fff;
}

.bg-b {
	background: #202020;
}

.tr-90 {
	opacity: 0.9;
}

.tr-100 {
	opacity: 1;
}

.wrap-login100 {
	overflow: hidden;
}

.tranzactions-head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gr {
	margin: auto;
}

.participant {
	/* display: grid;
	grid-template-columns: 1.5fr 0.5fr; */
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.participant-name {
	justify-self: start;
}

.mparticipant-del-inf {
}

.top-groups {
	grid-column: 1/4;
	margin: 0 50px;
}

.my-groups {
	grid-column: 4/7;
	margin: 0 50px;
}

.b-1-s-b {
	border: 1px solid #666666;
}

.t-a-c {
	text-align: center;
}

.t-a-j {
	text-align: justify;
}

.w-5 {
	width: 5%
}

.w-10 {
	width: 10%
}

.w-15 {
	width: 15%
}

.w-20 {
	width: 20%
}

.w-25 {
	width: 25%
}

.w-30 {
	width: 30%
}

.w-35 {
	width: 35%
}

.w-40 {
	width: 40%
}

.w-45 {
	width: 45%
}

.w-50 {
	width: 50%
}

.w-55 {
	width: 55%
}

.w-60 {
	width: 60%
}

.w-65 {
	width: 65%
}

.w-70 {
	width: 70%
}

.w-75 {
	width: 75%
}

.w-80 {
	width: 80%
}

.w-85 {
	width: 85%
}

.w-90 {
	width: 90%
}

.w-95 {
	width: 95%
}

.w-100 {
	width: 100%
}


.tranzaction-line {
	width: 100%;
	/*background: #6496E1;*/
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 5px 0;
	border: 1px solid #666666;
}

.tranzaction-line-number {
	width: 5%;
}

.tranzaction-line-cause {
	width: 40%;
}

.tranzaction-line-cause-text {
	width: 40%;
	text-align: left;
}

.tranzaction-line-sum {
	width: 15%;
}

.tranzaction-line-status {
	width: 15%;
}

.tranzaction-line-actions {
	width: 25%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.btn-vis {
	visibility: visible;
}

.btn-hid {
	visibility: hidden;
}

/*//////////////////////////////////////////////////////////////////
[ create-group-page ]*/
.container-create-grouppage100 {
	padding: 1em;
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/background/Background_5.png);
	/*background-color: #313648;*/
	position: fixed;
	z-index: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.create-group {
	width: 500px;
	margin: auto;
}

.voting {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

/*//////////////////////////////////////////////////////////////////
[ create-tranzaction-page ]*/
.container-create-tranzactionpage100 {
	padding: 1em;
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/background/Background_5.png);
	/*background-color: #313648;*/
	position: fixed;
	z-index: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.create-tranzaction {
	width: 500px;
	margin: auto;
}

.operation {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.form-btn-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/*------------------------------------------------------------------
[ Search ]*/
.search {
	margin-top: 70px;
	margin-bottom: 50px;
	margin: 70px 50px 50px 0;
	grid-column: 5/7;
	height: 70px;
	padding-top: 23px;
}

.form-btn-search-box {
	width: 33%;
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	margin-bottom: auto;
}

.search-btn {
	justify-content: center;
	transition: 0.4s;
}

.search-text {
	width: 96%;
	transition: 0.4s;
	background-color: #202020;
}

.search-text-btn {
	color: #adadad;
}

.c-g {
	/*color: #666666;*/
	color: #adadad;
}

.f-s-1rem {
	font-size: 1.5rem;
}

.p-balance {
	text-align: left;
}

.my-balance {
	text-align: center;
}

.my-balance-box {
	width: 33%;
	display: flex;
	justify-content: center;
}

.balance-value {
	font-size: 2rem;
	font-weight: bold;
	color: #6496E1;
}

.add-balance-btn {
	font-size: 1rem;
}

.ol-m-t-l-20 {
	margin-top: 20px;
	margin-left: 20px
}

.ol-m-t-20 {
	margin-top: 20px;
}

ol > a > li {
	list-style-type: decimal;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
	width: 100%;
}

.login100-form-title {
	display: block;
	font-family: Poppins-Bold;
	font-size: 39px;
	/*color: #333333;*/
	color: #adadad;
	line-height: 1.2;
	text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
	font-size: 14px;
	/*color: #333333;*/
	color: #adadad;
	line-height: 1.5;
	padding-left: 7px;
}

.input100 {
	font-family: Poppins-Medium;
	font-size: 16px;
	border-bottom: 1px solid #adadad;
	color: #adadad;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 55px;
	background: transparent;
	padding: 0 7px 0 43px;
}

/*---------------------------------------------*/
.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.focus-input100::after {
	content: attr(data-symbol);
	font-family: Material-Design-Iconic-Font;
	color: #adadad;
	font-size: 22px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: calc(100% - 20px);
	bottom: 0;
	left: 0;
	padding-left: 13px;
	padding-top: 3px;
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	background: #6496E1;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input100:focus + .focus-input100::before {
	width: 100%;
	background-color: #202020;
}

.has-val.input100 + .focus-input100::before {
	width: 100%;
}

.input100:focus + .focus-input100::after {
	color: #6496E1;
}

.has-val.input100 + .focus-input100::after {
	color: #6496E1;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap-login100-form-btn {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
	margin: 0 auto;
}

.login100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 200%;
	background: -webkit-linear-gradient(top, #6496E1, #144669, #144669, #144669);
	background: -o-linear-gradient(top, #6496E1, #144669, #144669, #144669);
	background: -moz-linear-gradient(top, #6496E1, #144669, #144669, #144669);
	background: linear-gradient(top, #6496E1, #144669, #144669, #144669);
	top: -100%;
	left: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login100-form-bgbtn-cansel {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 200%;
	background: -webkit-linear-gradient(top, #F08080, #DC143C, #DC143C, #DC143C);
	background: -o-linear-gradient(top, #F08080, #DC143C, #DC143C, #DC143C);
	background: -moz-linear-gradient(top, #F08080, #DC143C, #DC143C, #DC143C);
	background: linear-gradient(top, #F08080, #DC143C, #DC143C, #DC143C);
	top: -100%;
	left: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login100-form-btn {
	font-family: Poppins-Medium;
	font-size: 13px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn,
.wrap-login100-form-btn:hover .login100-form-bgbtn-cansel {
	top: 0;
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	bottom: calc((100% - 20px) / 2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 2px;
	pointer-events: none;
	font-family: Poppins-Regular;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 16px;
	bottom: calc((100% - 20px) / 2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 8px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

.content {
	display: grid;
	padding: 5px;
}

.chart {
	margin-bottom: 5px;
}

@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}

.graphics-box {
	width: 25%;
	margin: 5px;
}

.transactions-box {
	width: 50%;
	margin: 5px;
}

.participants-box {
	width: 25%;
	margin: 5px;
}

.default-table {
	color: #adadad;
	width: 98%;
}

.default-table td {
	font-size: 20px;
}

.color {
	color: #adadad;
}

.currentuser {
	color: #8937df;
}

.transaction-tr:hover {
	border: 1px solid #8937df;
}

.scroll {
	max-height: 650px;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #adadad #202020;
	border-radius: 10px;
}

.a-color a {
	color: #000;
}

.a-color p {
	color: #000;
}
